html
  font-size: 100%
  
body
  font-size: 14px
  background: $backgroud 
  color: $word
  
a
  color: $word-dark
  text-decoration: none
  
  &:hover
    color: $blue
    
img
  max-width: 100%
  height: auto
  
ul,ol
  margin-left: 15px 

h1
  font-size: 20px

h2
  font-size: 18px
  
hr
  display: block
  margin: 3.2em 0
  padding: 0
  height: 1px
  border: 0
  border-top: 1px solid $border

.show
  display: block !important
  
.show-inline
  display: inline-block !important

  