html
  font-size: 100%

body
  font-size: 15px
  background: $backgroud
  color: $word
  -webkit-font-smoothing: antialiased

a
  color: $word-dark
  text-decoration: none

  &:hover
    color: $blue

img
  max-width: 100%
  height: auto

.hide
  display: none !important

.show
  display: block !important

.show-inline
  display: inline-block !important

.shade
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $shade-bg
  display: none
